* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 80vw;
    max-height: 40vh;
    margin: 1em;
}

span {
    text-align: start;
    margin: 1em;
}

.margin {
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 2em;
}

.cabecalho {
    background-color: aqua;
    width: 80%;
    text-align: center;
    margin: 10px auto;
}

.content-grid-2 {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 420px 420px;
}

.content-grid-3 {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 420px 420px 420px;
}

.box {
    background-color: blue;
    margin: 10px;
    width: 400px;
    height: 200px;
}